<header class="header">
    <div class="logo">
      <i class="fa-solid fa-paw"></i>
      <h1 class="site-title">PawPal</h1>
    </div>
    <div>
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/meet-pets">Meet Pets</a></li>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/donate">Donate</a></li> 
        <li><a href="/support">Support us</a></li>
        <li><a href="/sos-report">SOS Report</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/quiz">Quiz</a></li>
        <li><a href="/contactus">Contact us</a></li>
      </ul>
    </div>
  </header>
  